.jumbotron {
  padding: 1em 1em;
  background-color: #343a40;
  color: #fff;
}

.jumbotron h1 {
  font-size: 3.5em;
}

.table {
  border: 1px solid black;
}

.form {
  margin-top: 5em;
  margin-bottom: 2em;
  border: 1px solid black;
}

.form-header {
  color: white;
  padding: 10px;
}

.form-body {
  padding: 1em;
}
